h1{text-align:center;color:blue;}
p{font-weight:29px;text-align:center;font-style:italic;color:orange;}
img{max-width: 120px;float: left;padding-top:10px; padding-right: 50px;padding-bottom: 20px;border: #009900 2px solid;}